   [title*="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
    display: hidden;
    visibility: hidden;
}
   
    body {
        background: url("../img/indexbgpc.jpg");
        background-size: cover;
        min-height: 700px;
        background-position: center;
    }
    
    .navbar-brand {
        padding: 0px;
    }
    
    .navbar-brand>img {
        height: 100%;
    }
    
    .navbar-default {
        background-color: #00000057;
        border-color: #f7f7f7;
    }
    
    .labellogin {
        font-size: 20px;
    }
    
    .logintitle {
        font-size: 30px;
        font-weight: bold;
    }
    
    .loginform {
        width: 80%;
    }
    
    .footer {
        margin-bottom: -20px;
        margin-top: 20px;
        background-color: #00000069;
        border-color: #ffffff;
    }
    
    .navbar-inverse {
        background-color: #00000069;
        border-color: #ffffff;
    }
    
    .infolog {
        font-size: 30px !important;
        /* left: 10px; */
        /* padding: 2px; */
        color: cornflowerblue;
        margin-left: 20px !important;
    }
    
    .outer {
        background: #00000059 !important;
    }
    
    .lititle {
        color: white;
        padding: 9px;
        font-size: 25px;
        text-transform: uppercase;
        border-radius: 22px;
    }
    
    .lititle:nth-child(1) {
        background-color: blue;
    }
    
    .lititle:nth-child(2) {
        background-color: black;
    }
    
    .lititle:nth-child(3) {
        background-color: goldenrod;
    }
    
    .lititle:nth-child(4) {
        background-color: darkolivegreen;
    }
    
    .lititle:nth-child(5) {
        background-color: crimson;
    }
    
    .lititle:nth-child(6) {
        background-color: chocolate;
    }
    
    .lititle:nth-child(7) {
        background-color: aqua;
        color: black;
    }
    
    .lititle:nth-child(8) {
        background-color: burlywood;
        color: black;
    }
    
    .lititle:nth-child(9) {
        background-color: yellowgreen;
    }
    
    .lititle:nth-child(10) {
        background-color: grey;
    }
    
    .text-white {
        color: white;
    }
    /* Registration form */
    
    .btn-login {
        padding: 3px;
        background: aliceblue;
    }
    
    .btn-login:hover {
        background: rgb(52, 111, 161);
    }
    /* home page for students */
    
    .navbar-default .navbar-nav>li>a {
        color: #ffffff;
    }
    
    .fa-passwd-reset {
        font-size: 10px;
    }
    
    .bcontainer {
        height: auto;
        /* height: auto; */
        /* background: black; */
        color: #010101;
        box-sizing: border-box;
        border-radius: 0px;
        background-color: #f5f5f56e;
        /* box-shadow: 0px 0px 20px 2px white; */
        /* overflow: hidden; */
    }
    
    .bcontainer:hover {
        box-shadow: 0px 0px 20px 2px aqua;
    }
    
    .btnshadow {
        box-shadow: -2px 2px 2px black;
    }
    
    .btitle {
        margin-left: 30px;
        font-size: 21px;
    }
    
    .bbtn {
        margin-left: 12%;
        font-size: 20px;
    }
    
    .keytext {
        margin-left: 15px;
    }
    
    .bkeytitle {
        margin-left: 30px;
    }
    
    .none {
        background: none;
        border: none;
    }
    
    .bkey {
        display: inline-block;
        overflow: hidden;
    }
    
    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f6f6f659;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 80%;
        margin-left: 50px;
    }
    
    .commname {
        color: black;
        font-size: 17px;
        background: white;
        border-radius: 11px;
        padding: 4px 5px 5px 5px;
    }
    
    #loadmore {
        background: none;
        color: white;
        font-size: 19px;
        /* border: none; */
    }
    
    .category {
        border: 2px solid red;
        height: 100px;
        width: 100px;
    }
    
    .bauthorname {
        color: black;
        background: white;
    }
    
    p.catetitle {
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
    }
    
    .categorieshead {
        font-weight: bold;
        font-size: 30px;
        color: black;
        text-decoration: underline;
        text-decoration-color: aqua;
    }
    
    .text-black {
        color: black;
    }
    
    .btn-req {
        color: blue;
        background: white;
    }
    
    #preview {
        background: url("../img/preview.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /* ========================Mobile=========================== */
    
    @media(max-width:767px) {
        .infolog {
            visibility: hidden;
        }
        .loginform {
            width: 100%;
        }
        .nophone {
            display: none;
        }
        .categories {
            display: none;
        }
    }